@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,800;1,500&display=swap');

:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900: #1b1a2c;
    --text-black-700: #333249;
}
body.dark{
    --bg-black-900: #262626;
    --bg-black-100: #313336;
    --bg-black-50:#393939;
    --text-black-900:#e9e9e9;
    --text-black-700: #c7c6c6;
}
body{
    margin: 0;
    padding: 0;
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
    overflow-y: scroll;
    background: var(--bg-black-900);
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}
.body{
    position: relative;
    margin-top: 50%;
    min-height: 100%;
}
html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100%;
}
/* ===== About Me =====*/
.about{
    display: flex;
    flex-direction: column;

    z-index: 1;
    }
h1{
    width: 75%;
    margin-left: 5%;
    color: var(--text-black-700);
    font-size: 300%;
    border-bottom: 5px solid var(--skin-color);
    margin-bottom: 2%;
}

.about pre{
    width: 100%;
    font-size: 150%;
    font-family: "sans-serif";
    margin-left: 5%;
    color: var(--text-black-900);
}

.info{
    min-height: 100%;
    display: flex;
}

.about .info .personnal{
    width: 50%;
    color: var(--text-black-700);
    padding-left:5%;
    display: grid;
    grid-template-columns: 45% 45%;
    grid-column-gap: 10%;
}

.info-item{
    padding-top: 10%;
    width: 90%;
}
.info-item p{

    font-weight: 600;
    font-size: 110%;
    border-bottom: 2px solid var(--bg-black-50);
}

.info-item span{
    color: var(--text-black-700);
    font-weight: 400;
    font-size: 90%;
}
.button{
    grid-row: 5/6;
    grid-column: 1/3;
    display: flex;
    align-items: center;
    justify-content: center;
}
.button .btn{
    background: var(--skin-color);
    color: var(--bg-black-900);
    border-radius: 50px;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    width: 25%;
}

.hire-me{
    margin-left: 2%;
}

.btn:hover{
    transform: scale(1.05);
}
.about .info .skills{
    margin-top: 1%;
    flex: 0 0 50%;

}
.skills .skill-item{
    max-width: 75%;
    margin-bottom: 8%;
}

.skill-item h5{
    color: var(--text-black-700);
    max-height: 10%;
    font-size: 80%;
    text-transform: capitalize;
}

.skill-item .progress{
    background: var(--bg-black-50);
    height: 7px;
    border-radius: 4px;
    position: relative;
}

.progress .progress-in{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    border-radius: 4px;
    background: var(--skin-color);
}

.progress .skill-percent{
    position: absolute;
    right: 0;
    top: -350%;
    font-size: 80%;
    color: var(--text-black-700);
}
.cv{
    margin-top: 8%;
    display: flex;

}

.cv .education, .cv .experiences{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 15%;
}


.cv h3.title{
     font-size: 200%;
     color: var(--text-black-700);
     margin-bottom: 10%;
 }
.cv i{
    padding-right: 5%;
    margin-bottom: 3%;
}
.cv h4{
font-size: 150%;
    margin-bottom: 3%;

}

.timeline-box{
    border-radius: 10px;
    max-width: 75%;

}
.experiences .timeline{margin-top: -4%}
.timeline{
    box-shadow: 0px 1px 17px 0px rgba(0,0,0,0.5);
    background-color: var(--bg-black-100);
    padding: 5% 10%;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
    text-align: left;

}
.timeline-item p{
    font-size: 100%;
    text-align: justify;
}
.timeline-item
{
    width: 100%;
    position: relative;
    padding-left: 5%;
    padding-bottom: 10%;
    color: var(--text-black-700);
}
.timeline-item:last-child{
    padding-bottom: 0;
}

.timeline-item:before{
    content: '';
    position: absolute;
    width: 1px;
    height: 100%;
    left: -5%;
    top: 0;
    background-color: var(--skin-color);
}
.circle-dot{
    position: absolute;
    height: 20px;
    width: 20px;
    left: -7%;
    top: 0;
    background-color: var(--skin-color);
    border-radius: 50%;
}
.experiences .circle-dot{
    left: -6.5%;
}
/* ===== Services =====*/
.services{
    left: 0;
    width: 100%;
    height: 50%;
}
.services .bubbles{
    height: 150%;
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    flex: 0 0 50%;
    margin-bottom: 8%;
}
.bubbles .bulle{
    width: 33%;
    max-height: 120%;
    text-align: center;
    background-color: var(--skin-color);
}
.first{
    border-radius: 10% 30% 50% 70%;
}
 .second{
    border-radius:30% 10% 70%  50%  ;
}
.bulle a{
    color: var(--bg-black-100);
    height: 100%;
    padding-top: 20%;}
.bulle a h3{
    font-size: 200%;}
.bulle a h4{
    margin-top: 5%;
    font-size: 100%;
    padding-bottom: 10%}
.bulle i{
    margin-top: 10%;
    padding-top: 3%;
    transform: scale(5);
    margin-bottom: 20%;
    padding-right: 8.5%;
    padding-left: 8.5%;
}

.second i{
    margin-bottom: 15%;
}

/* ===== Portfolio ===== */

.portfolio{
    display: block;
    width: 100%;
    height: 100vh;
}
.portfolio h1{
    margin-top:10%;
}
.redirect{
    background-color: var(--text-black-900);
    color: var(--bg-black-100);
    right: 5%;
    bottom: 5%;
    padding: 10px;
    border-radius: 50px;
    position: absolute;
}
.slideshow-container {
    background: var(--skin-color);
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: var(--text-black-900);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev:hover, .next:hover {
  color: var(--skin-color);
}
.text {

    color: var(--bg-black-100);
    font-size: 90%;
    margin-bottom: 1%;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: var(--text-black-900);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active, .dot:hover {
    background-color: var(--bg-black-100);
}
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}

.slide-content{
    width: 100%;
    height: 50%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-template-rows: 2fr 1fr;
}
.web{
    width: 75%;
    margin: 5%;
    grid-column: 1/3;
    grid-row: 1/3;
}
.responsive{
    width: 50%;
    margin: 5%;
    grid-column: 3/4;
    grid-row: 1/4;
}
.description{
    margin: 5%;
    grid-column: 1/3;
    grid-row: 3/4;
    color: var(--bg-black-100);
    font-size: 120%;
}

/* ===== Contact ===== */

.contact{
    width: 100%;
    height: 80vh;

}
.contact h1{
    margin-top:5%;
}
.contact-container{
    display: grid;
    grid-template-columns: 40% 60%;
}
.contact form{
    margin-top: 2%;
    grid-column: 2/3;
    background-color: var(--bg-black-100);
    border-radius: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(5,1fr);
    padding: 2vw 4vw;
    width: 90%;
    border: none;
}
::placeholder{
    color: var(--text-black-700);
    font-family: 'Montserrat', sans-serif;

}
form input{
    text-align: center;
    border: 3px solid var(--text-black-900);
    color: var(--text-black-700);
    padding-top: 1%;
    padding-bottom: 1%;
    font-family: 'Montserrat', sans-serif;
    border-radius: 5px;
    margin-bottom: 5%;
}
.lastname{
    width: 95%;
    grid-column:1/2 ;
    grid-row: 1/2;
}
.firstname{
    margin-left: 5%;
    width: 95%;
    grid-column:2/3 ;
    grid-row: 1/2;}

.subject{
    grid-row: 3/4;
    grid-column: 1/3;
}
.email{
    grid-column:1/3 ;
    grid-row: 2/3;
}
.subject{
    grid-column: 1/3;
    grid-row: 3/4;
}
textarea{
    grid-column:1/3 ;
    grid-row: 4/6;
    border: 3px solid var(--text-black-900);
    color: var(--text-black-700);
}
form button{
    margin-top: 9%;
    margin-left: 59.5%;
    width: 40%;
    height: 50%;
    z-index: 2;
    grid-row: 5/6;
    grid-column: 2/3;

}
form input:focus{
    outline: none;
}
